h1 {
    font-size: 4em;
}

.img-bac {
    background-color: rgba(218, 218, 218, 0.408);
    border-radius: 15px;
    height: 315px;
}

.icon-img img {
    width: 70px;
    height: 70px;
}

.shopping-crad img {
    width: 599px;
}